* {
  margin: 0;
  padding: 0;
}
#background_canvas {

    width: 100%;

}
#background_canvas canvas {
  background-color: #FF9900;
}
.input_div {
    position: fixed;
    bottom:5px;
    right:5px;
    z-index: 1;
    width:300px;
    /*display: none;*/
}
.input_div button {
  cursor: pointer;
}
.submit_div {
    text-align: right;
    margin:10px 0 0;
}
.instructions {
    position: fixed;
    top:5px;
    left:5px;
    z-index: 2;
}
